SubWorkflow_Consultar_Disponibilidad.json
{
  "updatedAt": "2026-07-01T22:41:54.444Z",
  "createdAt": "2026-07-01T21:37:37.662Z",
  "id": "1IWM34vzuNBI4C57",
  "name": "SubWorkflow_Consultar_Disponibilidad",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fecha"
            },
            {
              "name": "horario"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D6eQJvPhYuvZqBaPtawndPt4vYrraNI0rMY5i5_PNEM",
          "mode": "list",
          "cachedResultName": "Taller mecánico",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6eQJvPhYuvZqBaPtawndPt4vYrraNI0rMY5i5_PNEM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1504113005,
          "mode": "list",
          "cachedResultName": "turnos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6eQJvPhYuvZqBaPtawndPt4vYrraNI0rMY5i5_PNEM/edit#gid=1504113005"
        },
        "options": {}
      },
      "id": "gs-read",
      "name": "Consultar Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { fecha, horario } = $('Execute Workflow Trigger').first().json;\nconst rows = $input.all();\nconst match = rows.find(r => r.json['Fecha del Turno'] === fecha && r.json['Horario'] === horario && r.json['Estado'] !== 'Cancelado');\nif (match) {\n  return [{ json: { result: 'OCUPADO', disponibilidad: false } }];\n}\nreturn [{ json: { result: 'LIBRE', disponibilidad: true } }];"
      },
      "id": "code-result",
      "name": "Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Consultar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad": {
      "main": [
        [
          {
            "node": "Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "a71cba36-8923-4369-81b1-36b2d6c1117d",
  "activeVersionId": "a71cba36-8923-4369-81b1-36b2d6c1117d",
  "versionCounter": 31,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-01T21:37:37.666Z",
      "createdAt": "2026-07-01T21:37:37.666Z",
      "role": "workflow:owner",
      "workflowId": "1IWM34vzuNBI4C57",
      "projectId": "TR05BAcU2qCI52zd",
      "project": {
        "updatedAt": "2026-03-30T19:15:19.500Z",
        "createdAt": "2026-03-30T19:06:07.712Z",
        "id": "TR05BAcU2qCI52zd",
        "name": "Manuel Palmero <manueligna06@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "40a876fc-fbd8-4e9f-b863-c1ecfdf4d934"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-01T22:41:54.445Z",
    "createdAt": "2026-07-01T22:41:54.445Z",
    "versionId": "a71cba36-8923-4369-81b1-36b2d6c1117d",
    "workflowId": "1IWM34vzuNBI4C57",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "fecha"
              },
              {
                "name": "horario"
              }
            ]
          }
        },
        "id": "trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          304
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1D6eQJvPhYuvZqBaPtawndPt4vYrraNI0rMY5i5_PNEM",
            "mode": "list",
            "cachedResultName": "Taller mecánico",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6eQJvPhYuvZqBaPtawndPt4vYrraNI0rMY5i5_PNEM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1504113005,
            "mode": "list",
            "cachedResultName": "turnos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6eQJvPhYuvZqBaPtawndPt4vYrraNI0rMY5i5_PNEM/edit#gid=1504113005"
          },
          "options": {}
        },
        "id": "gs-read",
        "name": "Consultar Disponibilidad",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          304,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { fecha, horario } = $('Execute Workflow Trigger').first().json;\nconst rows = $input.all();\nconst match = rows.find(r => r.json['Fecha del Turno'] === fecha && r.json['Horario'] === horario && r.json['Estado'] !== 'Cancelado');\nif (match) {\n  return [{ json: { result: 'OCUPADO', disponibilidad: false } }];\n}\nreturn [{ json: { result: 'LIBRE', disponibilidad: true } }];"
        },
        "id": "code-result",
        "name": "Formatear Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          304
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Consultar Disponibilidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Disponibilidad": {
        "main": [
          [
            {
              "node": "Formatear Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Manuel Palmero",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-01T22:41:54.503Z",
        "id": 58,
        "workflowId": "1IWM34vzuNBI4C57",
        "versionId": "a71cba36-8923-4369-81b1-36b2d6c1117d",
        "event": "activated",
        "userId": "40a876fc-fbd8-4e9f-b863-c1ecfdf4d934"
      },
      {
        "createdAt": "2026-07-01T22:41:54.485Z",
        "id": 57,
        "workflowId": "1IWM34vzuNBI4C57",
        "versionId": "a71cba36-8923-4369-81b1-36b2d6c1117d",
        "event": "deactivated",
        "userId": "40a876fc-fbd8-4e9f-b863-c1ecfdf4d934"
      }
    ]
  }
}
