SubWorkflow_Consultar_Disponibilidad.json
{
  "updatedAt": "2026-07-01T22:41:54.444Z",
  "createdAt": "2026-07-01T21:37:37.662Z",
  "id": "1IWM34vzuNBI4C57",
  "name": "SubWorkflow_Consultar_Disponibilidad",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fecha"
            },
            {
              "name": "horario"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "turnos"
        },
        "options": {}
      },
      "id": "gs-read",
      "name": "Consultar Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { fecha, horario } = $('Execute Workflow Trigger').first().json;\nconst rows = $input.all();\nconst match = rows.find(r => r.json['Fecha del Turno'] === fecha && r.json['Horario'] === horario && r.json['Estado'] !== 'Cancelado');\nif (match) {\n  return [{ json: { result: 'OCUPADO', disponibilidad: false } }];\n}\nreturn [{ json: { result: 'LIBRE', disponibilidad: true } }];"
      },
      "id": "code-result",
      "name": "Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Consultar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad": {
      "main": [
        [
          {
            "node": "Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "versionId": "a71cba36-8923-4369-81b1-36b2d6c1117d",
  "activeVersionId": "a71cba36-8923-4369-81b1-36b2d6c1117d",
  "versionCounter": 31,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-01T21:37:37.666Z",
      "createdAt": "2026-07-01T21:37:37.666Z",
      "role": "workflow:owner",
      "workflowId": "1IWM34vzuNBI4C57",
      "projectId": "TR05BAcU2qCI52zd",
      "project": {
        "updatedAt": "2026-03-30T19:15:19.500Z",
        "createdAt": "2026-03-30T19:06:07.712Z",
        "id": "TR05BAcU2qCI52zd",
        "name": "Manuel Palmero <manueligna06@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "40a876fc-fbd8-4e9f-b863-c1ecfdf4d934"
      }
    }
  ],
  "tags": []
}