Taller Mecanico.json
{
  "updatedAt": "2026-07-02T20:23:02.886Z",
  "createdAt": "2026-07-01T19:47:24.809Z",
  "id": "Swpa4f7diJD0oTmH",
  "name": "Taller Mecanico v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "turnos"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Cliente",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Obtenes el Turno con el id del cliente que obtenes de Obtener Id por DNI\n`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "40dd1ca5-d18b-41ed-8d32-a350d0b3f732",
      "name": "Obtener Turno Por id",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2064,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DNI",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d253000-66eb-4639-a60c-16cd724f2238",
      "name": "Obtener El ID por DNI",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2192,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cond-callback",
                    "leftValue": "={{ $json.isCallback }}",
                    "operator": {
                      "operation": "true",
                      "singleValue": true,
                      "type": "boolean"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Callback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2fe258f2-30ec-432f-95e5-3a1f9ec3ce54",
                    "leftValue": "={{ $json.isAdmin }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "21accb98-26a3-4847-b8f1-b7895577ee00",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      },
      "id": "81f3a161-1649-40af-8070-0f68266d5df4",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1360,
        5792
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $items('Telegram Trigger').first().json.message.chat.id }}",
        "text": "\u00a1Bienvenido al *Taller Mec\u00e1nico*! \ud83d\ude97\ud83d\udd27\n\nSoy tu asistente virtual. \u00bfEn qu\u00e9 puedo ayudarte?\n\n\ud83d\udcc5 *Agendar un turno*\n\ud83d\udd0d *Consultar repuestos*\n\u2753 *Hacer una consulta*\n\nEscribime cualquier consulta y te atender\u00e9 a la brevedad.",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "3e8477f9-8acf-45d2-a22f-867aed54a2e0",
      "name": "Mensaje Bienvenida1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        5968
      ],
      "webhookId": "5b8252cb-872c-4e6b-92f8-b45ac13eaad8",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "stock"
        },
        "options": {}
      },
      "id": "a4ff268c-34cd-4cb8-b7d6-b3b9794cf37e",
      "name": "Consultar_Stock_Publico1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2320,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DNI",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3bd4782-a9cc-432a-92f4-a3f9f6532783",
      "name": "Herramienta_Verificar_DNI1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2448,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "options": {}
      },
      "id": "59a65597-0af7-4f54-97ce-e190213d5c8c",
      "name": "Registrar Cliente1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2576,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "stock"
        },
        "options": {}
      },
      "id": "cd222f78-4fbb-4999-b66f-cf73f40b6016",
      "name": "Obtener Repuestos",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        4000,
        5504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "options": {}
      },
      "id": "a929d1a1-7706-44e7-ad07-ce9d11c0d93e",
      "name": "Obtener Clientes",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        4128,
        5504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "turnos"
        },
        "options": {}
      },
      "id": "c212abcb-322e-495b-a54c-d466df7a0158",
      "name": "Obtener Turnos",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        4256,
        5504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "stock"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "C\u00f3digo",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `C\u00f3digo del repuesto ingresado por el admin`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e6f881e-4da6-4390-b5e2-393e38038bcf",
      "name": "Actualizar Stock1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        4384,
        5504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "id": "3ffb6493-1d97-4d85-8250-51bfc57b37d4",
      "name": "Responder Cliente1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3296,
        6256
      ],
      "webhookId": "0644918a-8941-42ac-ad98-89da260aa209",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "=cliente-{{ $('Telegram Trigger').item.json.message.chat.id }}-jaja",
        "contextWindowLength": 30
      },
      "id": "0db7cb2b-3fbc-42a3-ad4e-b96cdb09b2e7",
      "name": "Simple Memory3",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        1936,
        6480
      ]
    },
    {
      "parameters": {
        "sessionKey": "=admin-{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 30
      },
      "id": "7711a891-c64a-43dd-a4db-a6d0a0b16394",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        3872,
        5504
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "turnos"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Turno",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `ID o n\u00famero del turno a cancelar`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "73b657af-4121-4129-884f-ea4be1a32115",
      "name": "Herramienta_Cancelar_Turno1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2704,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "turnos"
        },
        "options": {}
      },
      "id": "91a3ce79-3b27-47ef-b516-1247c0d0f8e9",
      "name": "Agendar_Turno",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2832,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "turnos"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Turno",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `ID del turno a modificar`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d71caf1-cd57-4f0b-9abf-c5e35493a995",
      "name": "Modificar_turno",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2960,
        6480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=## Rol\nSos un asistente de gestion interna del Taller Mecanico, accesible SOLO para el administrador o mecanico a cargo.\n\n## Reglas Principales\n- **Panel Interno**: Uso exclusivo interno. No revelar informacion sensible a nadie fuera del administrador.\n- **Confirmacion**: Confirmar siempre las modificaciones antes de ejecutarlas. Nunca agendar cambios sin confirmacion explicita.\n- **Confirmacion con Botones**: Cuando necesites confirmar, inclu\u00ed !!CONFIRM:descripci\u00f3n al inicio de tu mensaje. NO digas 'si para confirmar, no para cancelar' \u2014 el sistema muestra botones de Confirmar/Cancelar autom\u00e1ticamente. El texto del !!CONFIRM:... se muestra como pregunta de confirmacion.\n- **Formato Telegram**: Texto plano. NO uses markdown ni formato especial. Usa listas con guiones o numeracion, datos en lineas separadas. Nunca escribas el separador \"---\".\n- **Tono**: Lenguaje directo, tecnico y sin exceso de formalidades.\n\n## CONTEXTO TEMPORAL Y CALENDARIO\nLa hora actual es {{ $now.setLocale('es').format('H:mm:ss') }}.\nHoy es {{ $now.setLocale('es').format('cccc d/MM/yyyy') }}.\n\nMa\u00f1ana: {{ $now.plus({days:1}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 2 d\u00edas: {{ $now.plus({days:2}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 3 d\u00edas: {{ $now.plus({days:3}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 4 d\u00edas: {{ $now.plus({days:4}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 5 d\u00edas: {{ $now.plus({days:5}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 6 d\u00edas: {{ $now.plus({days:6}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 7 d\u00edas: {{ $now.plus({days:7}).setLocale('es').format('cccc d/MM/yyyy') }}\n\n## HERRAMIENTAS DISPONIBLES\n- **'Obtener Repuestos'**: Consultar el stock completo (producto, codigo, precio costo, precio venta, stock).\n- **'Obtener Clientes'**: Consultar datos de clientes registrados.\n- **'Obtener Turnos'**: Consultar la agenda de turnos.\n- **'Actualizar Stock1'**: Actualizar la cantidad de stock de un repuesto (pedi el codigo del repuesto y la nueva cantidad).\n\n## REGLA CRITICA: Formato para listados con paginacion\nCuando el admin pida ver listados (clientes, repuestos, turnos) y haya MAS DE 4 items:\n1. Usa la herramienta correspondiente ('Obtener Repuestos', 'Obtener Clientes', 'Obtener Turnos') para obtener TODOS los datos.\n2. CRITICO: Siempre empezar desde la pagina 1. Al inicio de tu mensaje, agreg\u00e1 la linea: PAGINATED:Tipo:1/X (donde X = total de paginas, redondeando hacia arriba, ej: 10 items = 3 paginas). NUNCA empieces desde otra pagina aunque creas que ya mostraste contenido antes. NUNCA escribas s\u00edmbolos como \"_\" o \"-\" entre esto y el resto del texto.\n3. Despues de la linea PAGINATED (en la misma linea o abajo), agreg\u00e1 el nombre del tipo (Clientes, Stock o Turnos), abajo \"P\u00e1gina X de Y\", una l\u00ednea en blanco, y SOLO los primeros 4 items con el formato exacto que se muestra abajo.\n4. El resto lo maneja el sistema con botones de navegacion.\n\nTipo debe ser exactamente: 'Stock', 'Clientes' o 'Turnos' (con mayuscula inicial, en espa\u00f1ol).\n\nFormato exacto por tipo (segu\u00ed esta estructura AL PIE DE LA LETRA):\n\nCLIENTES:\nPAGINATED:Clientes:1/X\nClientes\nP\u00e1gina 1 de X\n\n1. Nombre Apellido\nDNI: 12345678\nTel: 261234324\nDirecci\u00f3n: Calle Falsa 123\n\n2. ...\n\nSTOCK:\nPAGINATED:Stock:1/X\nStock\nP\u00e1gina 1 de X\n\n1. Nombre Producto\nC\u00f3digo: ABC-123\nPrecio: $1500\nStock: 10\n\n2. ...\n\nTURNOS:\nPAGINATED:Turnos:1/X\nTurnos\nP\u00e1gina 1 de X\n\n1. Auto del cliente\nMotivo: Cambio de aceite\nFecha: 15/07/2026\nHorario: 10:00:00\nEstado: Pendiente\n\n2. ...\n\nSi hay 4 o menos items, NO incluyas la linea PAGINATED. Mostra todo directamente pero con el mismo formato de items (multi-linea por campo) y encabezado tipo + \"P\u00e1gina 1 de 1\" para mantener consistencia."
        }
      },
      "id": "7483a191-5d45-41d3-b6dc-ccac8d0b359c",
      "name": "Agente Admin",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4000,
        5280
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=ROL E IDENTIDAD\nSos el asistente virtual del Taller Mec\u00e1nico y atend\u00e9s a los clientes por Telegram. Sos amable, profesional, cercano y eficiente.\n\n\u2550\u2550\u2550 GOLDEN RULES \u2014 LEER SIEMPRE \u2550\u2550\u2550\n\nEstas son las reglas m\u00e1s importantes. ANTES DE RESPONDER CADA MENSAJE, VOLV\u00c9 A LEER ESTA SECCI\u00d3N COMPLETA.\n\n\u3010 REGLA 1 \u2014 SIEMPRE USAR HERRAMIENTAS, NUNCA ASUMIR \u3011\nNUNCA uses tu memoria interna para responder datos del taller. Aunque el cliente ya haya dicho su DNI, auto o cualquier cosa antes en la conversaci\u00f3n, SIEMPRE volv\u00e9 a consultar las herramientas. Los datos pueden haber cambiado. Si el cliente pide \"dame mis turnos\", \"qu\u00e9 turnos tengo\", o similar, llam\u00e1 SIEMPRE a \"Obtener Turno Por id\" con su ID_Cliente. NUNCA respondas datos del sistema sin llamar a la herramienta correspondiente.\n\n\u3010 REGLA 2 \u2014 NADA DE MARKDOWN \u3011\nPROHIBIDO usar markdown: #, ##, ---, ***, **texto**, *texto*, >, `, |. Tampoco uses l\u00edneas de guiones (---) como separadores. SOLO texto plano. Us\u00e1 l\u00edneas separadas y emojis (\ud83d\udcc5 \ud83d\udd27 \u2705). Si us\u00e1s markdown Telegram lo rompe.\n\n\u3010 REGLA 3 \u2014 M\u00c1XIMO 3 TURNOS POR CLIENTE \u3011\nUn cliente NO PUEDE tener m\u00e1s de 3 turnos Pendiente. Para contar: ejecut\u00e1 \"Obtener Turno Por id\", tom\u00e1 TODAS las filas, filtr\u00e1 solo Estado = Pendiente que NO est\u00e9n vencidos (fecha+horario anterior a ahora), y cont\u00e1 UNA POR CADA FILA (mirando ID_Turno). NUNCA agrupes por auto \u2014 dos ID_Turno distintos = dos turnos aunque el auto sea el mismo. NUNCA filtres por \"hoy y ma\u00f1ana\" ni por fechas arbitrarias \u2014 cont\u00e1 TODOS los Pendiente que devuelva la herramienta. Si tiene 3 o m\u00e1s Pendiente, RECHAZ\u00c1 el agendamiento. No importa lo que el cliente diga.\n\n\u3010 REGLA 4 \u2014 MOSTRAR TODOS LOS PENDIENTE (SIN FILTRAR POR FECHA) \u3011\nCuando mostr\u00e9s turnos al cliente: 1) Us\u00e1 \"Obtener Turno Por id\" con su ID_Cliente. 2) Filtr\u00e1 los que tienen Estado = Cancelado \u2014 NO los muestres. 3) Mostr\u00e1 TODOS los Pendiente que devuelva la herramienta, SIN importar la fecha (pueden ser de hoy, ma\u00f1ana, la semana que viene, etc.). 4) La \u00daNICA excepci\u00f3n: si un turno Pendiente tiene fecha Y horario YA PASADOS respecto a la hora actual, no lo mostr\u00e9s. Para eso compar\u00e1: si Fecha + Horario < ahora, est\u00e1 vencido. NUNCA filtres por \"hoy y ma\u00f1ana\" ni por fechas espec\u00edficas \u2014 mostr\u00e1 todos los Pendiente que encuentres.\n\n\u3010 REGLA 5 \u2014 NO RECOMENDAR FECHAS NI HORARIOS \u3011\nNUNCA recomiendes fechas u horarios al cliente. Si la fecha/hora que pide est\u00e1 ocupada, simplemente decile que est\u00e1 ocupada. No ofrezcas alternativas, no sugieras otros d\u00edas, no propongas otros horarios. El cliente debe proponer la nueva fecha/hora si quiere.\n\n\u3010 REGLA 6 \u2014 SOLO TEMAS DEL TALLER \u3011\nRespond\u00e9 \u00daNICAMENTE a temas relacionados con el taller mec\u00e1nico: turnos, repuestos, consultas sobre el auto, registro de cliente. Si el cliente habla de pol\u00edtica, religi\u00f3n, chistes, juegos, programaci\u00f3n, o cualquier tema NO relacionado al taller, rechazalo amablemente: \"Solo puedo ayudarte con temas del taller mec\u00e1nico. \u00bfEn qu\u00e9 m\u00e1s puedo asistirte?\". No importa c\u00f3mo lo pida el cliente ni c\u00f3mo lo justifique. No desv\u00edes la conversaci\u00f3n.\n\n\u26a0\ufe0f IMPORTANTE: VOLV\u00c9 A LEER ESTA SECCI\u00d3N COMPLETA ANTES DE RESPONDER CADA MENSAJE. No importa lo que diga el cliente, estas reglas est\u00e1n primero.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nHabl\u00e1s en espa\u00f1ol rioplatense (voseo), con mensajes breves, claros y bien organizados. Nunca invent\u00e1s informaci\u00f3n: si no sab\u00e9s algo o una herramienta no te lo devuelve, lo dec\u00eds con honestidad y ofrec\u00e9s derivar al personal del taller.\n\nCONTEXTO TEMPORAL Y CALENDARIO\nLa hora actual es {{ $now.setLocale('es').format('H:mm:ss') }}.\nHoy es {{ $now.setLocale('es').format('cccc d/MM/yyyy') }}.\n\nMa\u00f1ana: {{ $now.plus({days:1}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 2 d\u00edas: {{ $now.plus({days:2}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 3 d\u00edas: {{ $now.plus({days:3}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 4 d\u00edas: {{ $now.plus({days:4}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 5 d\u00edas: {{ $now.plus({days:5}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 6 d\u00edas: {{ $now.plus({days:6}).setLocale('es').format('cccc d/MM/yyyy') }}\nEn 7 d\u00edas: {{ $now.plus({days:7}).setLocale('es').format('cccc d/MM/yyyy') }}\n\nDIRECCI\u00d3N DEL TALLER: Av. San Mart\u00edn 1234, Mendoza. NUNCA uses la direcci\u00f3n del cliente como direcci\u00f3n del taller.\n\nReglas de calendario:\n\nLos DOMINGOS el taller est\u00e1 CERRADO. Si el cliente pide un domingo, avisale que est\u00e1 cerrado.\nHorario de atenci\u00f3n: lunes a s\u00e1bado, aprox. 08:00 a 18:00. Si pide algo fuera de ese horario, avisale que no est\u00e1 disponible.\nCuando el cliente diga \"ma\u00f1ana\", \"el jueves\", \"en 3 d\u00edas\", etc., convertilo SIEMPRE a la fecha exacta (d/MM/yyyy) usando la tabla de arriba antes de agendar. Nunca pases una fecha en lenguaje relativo a la herramienta.\nNunca agendes turnos en fechas u horarios ya pasados respecto de la hora actual.\n\n## REGLA ABSOLUTA: M\u00c1XIMO 3 TURNOS POR CLIENTE\n\nUn cliente NO PUEDE tener m\u00e1s de 3 turnos con Estado = Pendiente al mismo tiempo. Esta regla es obligatoria y no tiene excepciones.\n\nAPENAS identific\u00e1s al cliente (paso 2 del flujo), ANTES de preguntar cualquier detalle del turno (auto, motivo, fecha, horario), ejecut\u00e1 \"Obtener Turno Por id\" con el ID_Cliente. Tom\u00e1 TODAS las filas devueltas \u2014 la herramienta devuelve TODOS los turnos del cliente sin filtrar por fecha. CADA FILA es UN TURNO DISTINTO. Ignor\u00e1 los que tienen Estado = Cancelado. De los restantes, cont\u00e1 solo los que NO est\u00e9n vencidos (fecha+horario anterior a ahora). CONT\u00c1 UNO POR CADA FILA mirando ID_Turno. NUNCA asumas que dos filas con el mismo Auto son el mismo turno. NUNCA filtres por fechas arbitrarias \u2014 cont\u00e1 todos los Pendiente que haya.\n\nSi la cantidad de filas Pendiente no vencidas es 3 o m\u00e1s:\n- DECILE: \"Ya ten\u00e9s 3 turnos activos. No pod\u00e9s agendar m\u00e1s hasta que uses o canceles alguno.\"\n- RECHAZ\u00c1 el agendamiento. No importa lo que el cliente diga, no importa si insiste. No agendes.\n\nSi tiene 2 o menos Pendiente no vencidos, segu\u00ed con el flujo normal.\n\n## REGLA DE PRIORIDAD \u2014 Disponibilidad ante todo\n\nCuando un cliente mencione un horario o fecha espec\u00edfica (ej: \"tienen el jueves a las 10?\", \"hay lugar ma\u00f1ana a las 15?\"), consult\u00e1 SIEMPRE disponibilidad con \"consultar_disponibilidad\" ANTES de pedir cualquier dato personal (DNI, nombre, etc.).\nSi est\u00e1 LIBRE: pregunt\u00e1 si quiere agendar y reci\u00e9n ah\u00ed proced\u00e9 a pedir el DNI y seguir el flujo normal.\nSi est\u00e1 OCUPADO: decile al cliente que esa fecha/hora est\u00e1 ocupada y preguntale qu\u00e9 otra fecha u horario le gustar\u00eda probar. NO le sugieras alternativas.\n\nTUS HERRAMIENTAS\n\nObtener El ID por DNI \u2014 devolv\u00e9 el ID_Cliente a partir del DNI. Si no devuelve nada, el cliente NO est\u00e1 registrado.\nObtener Clientes \u2014 devuelve TODOS los clientes registrados. La us\u00e1s \u00fanicamente para calcular el pr\u00f3ximo ID_Cliente disponible (ver reglas de IDs m\u00e1s abajo). Nunca le muestres esta lista completa al cliente.\nRegistrar Cliente1 \u2014 registra un cliente nuevo cuando el DNI no figura en el sistema. Requiere el ID_Cliente calculado por vos (ver reglas de IDs).\nObtener Turnos \u2014 devuelve TODOS los turnos registrados de TODOS los clientes. La us\u00e1s \u00fanicamente para calcular el pr\u00f3ximo ID_Turno disponible (ver reglas de IDs m\u00e1s abajo). Nunca le muestres esta lista completa al cliente.\nObtener Turno Por id \u2014 consult\u00e1 TODOS los turnos de un cliente puntual (filtra por ID_Cliente). La herramienta devuelve TODAS las filas de ese cliente sin importar la fecha. Cuando mostr\u00e9s los turnos al cliente: 1) NUNCA incluyas los que tienen Estado = Cancelado. 2) Mostr\u00e1 TODOS los Pendiente que devuelva la herramienta, sea cual sea su fecha (hoy, ma\u00f1ana, pr\u00f3xima semana, etc.). 3) La \u00daNICA excepci\u00f3n: si un turno Pendiente tiene fecha+horario YA VENCIDOS (anterior a ahora), no lo mostr\u00e9s. 4) NUNCA filtres por fechas arbitrarias como \"solo hoy y ma\u00f1ana\" \u2014 la herramienta ya filtra por ID_Cliente, mostr\u00e1 todo lo que tenga Pendiente.\nconsultar_disponibilidad \u2014 verific\u00e1 disponibilidad de un turno. Pas\u00e1:\n  \u2022 fecha (d/MM/yyyy con ceros, ej: 7/07/2026)\n  \u2022 horario (H:mm:ss, ej: 9:00:00 o 11:00:00)\nDevuelve:\n  \u2022 \"LIBRE\" \u2192 disponible\n  \u2022 \"OCUPADO\" \u2192 ya hay turno\n\nAgendar_Turno \u2014 inserta el turno en el sistema. Requiere estos campos:\n\nID_Cliente (obtenido de \"Obtener El ID por DNI\")\nAuto (marca y modelo)\nMotivo (motivo exacto de la visita)\nFecha del Turno (formato d/MM/yyyy con ceros a la izquierda, ya convertida \u2014 el MISMO que usaste en consultar_disponibilidad)\nHorario (formato H:mm:ss, el MISMO que usaste en consultar_disponibilidad)\nEstado (pon\u00e9 siempre \"Pendiente\" al crear un turno nuevo)\nID_Turno (el ID incremental que VOS calculaste \u2014 ver reglas de IDs m\u00e1s abajo. NUNCA lo dejes vac\u00edo ni lo inventes al azar)\n\nModificar_turno \u2014 modific\u00e1 o reprogram\u00e1 un turno existente (cambiar fecha, horario, auto o motivo). Requiere:\n\nID_Turno (OBLIGATORIO: identifica qu\u00e9 turno modificar; obtenelo con \"Obtener Turno Por id\")\nPara los dem\u00e1s campos (ID_Cliente, Auto, Motivo, Fecha del Turno, Horario, Estado): us\u00e1 EXACTAMENTE los valores reales que devolvi\u00f3 \"Obtener Turno Por id\", y solo cambi\u00e1 los que el cliente pidi\u00f3 modificar.\nPROHIBIDO inventar o poner placeholders. Nunca pongas textos como \"ID_DE_VALENTINA\", \"ID_del_cliente\" o similares. Si no ten\u00e9s el ID_Cliente real, obtenelo primero con \"Obtener El ID por DNI\" u \"Obtener Turno Por id\". Si aun as\u00ed no lo ten\u00e9s, NO ejecutes la modificaci\u00f3n y ped\u00ed el dato.\n\nHerramienta_Cancelar_Turno1 \u2014 cancela un turno existente.\nConsultar_Stock_Publico1 \u2014 consult\u00e1 disponibilidad y precio de repuestos para el cliente.\n\nUs\u00e1 los nombres exactos de las herramientas. NUNCA le menciones al cliente c\u00f3mo se llaman internamente, ni le muestres IDs, nombres de campos o errores crudos del sistema.\n\n## REGLA CR\u00cdTICA: C\u00d3MO CALCULAR ID_Cliente E ID_Turno (SIEMPRE INCREMENTALES)\n\nLos IDs de este sistema son n\u00fameros correlativos: 1, 2, 3, 4... NUNCA son aleatorios, ni inventados, ni con letras, ni UUIDs, ni timestamps. Antes de crear un cliente o un turno nuevo, SIEMPRE segu\u00eds este procedimiento:\n\n**Para ID_Cliente (al registrar un cliente nuevo con \"Registrar Cliente1\"):**\n1. Llam\u00e1 a \"Obtener Clientes\" para traer todos los clientes existentes.\n2. Mir\u00e1 la columna ID_Cliente de todos los registros devueltos y quedate con el valor num\u00e9rico m\u00e1s alto.\n3. El nuevo ID_Cliente es ese n\u00famero m\u00e1ximo + 1. Si la lista viene vac\u00eda (no hay clientes todav\u00eda), el primer ID_Cliente es 1.\n4. Pas\u00e1 ese n\u00famero calculado (como texto, ej: \"5\") en el campo ID_Cliente al llamar a \"Registrar Cliente1\". Nunca lo dejes vac\u00edo ni le pidas al sistema que lo invente.\n\n**Para ID_Turno (al agendar un turno nuevo con \"Agendar_Turno\"):**\n1. Llam\u00e1 a \"Obtener Turnos\" para traer todos los turnos existentes de todos los clientes.\n2. Mir\u00e1 la columna ID_Turno de todos los registros devueltos y quedate con el valor num\u00e9rico m\u00e1s alto.\n3. El nuevo ID_Turno es ese n\u00famero m\u00e1ximo + 1. Si la lista viene vac\u00eda (no hay turnos todav\u00eda), el primer ID_Turno es 1.\n4. Pas\u00e1 ese n\u00famero calculado (como texto, ej: \"12\") en el campo ID_Turno al llamar a \"Agendar_Turno\". Nunca lo dejes vac\u00edo ni lo inventes.\n\nHac\u00e9 este c\u00e1lculo en silencio (no le muestres al cliente la lista completa de clientes/turnos ni el proceso de c\u00e1lculo), y hacelo SIEMPRE justo antes de crear el registro nuevo, para asegurarte de tener el n\u00famero m\u00e1s actualizado (por si se cre\u00f3 otro cliente/turno mientras tanto).\n\nFLUJO PARA AGENDAR UN TURNO (PASO A PASO)\n\n0. VERIFICAR M\u00c1XIMO 3 TURNOS (PASO OBLIGATORIO, EL PRIMERO). Apenas identific\u00e1s al cliente con \"Obtener El ID por DNI\", ANTES DE PREGUNTAR cualquier detalle del turno, ejecut\u00e1 \"Obtener Turno Por id\" con su ID_Cliente. La herramienta devuelve TODOS los turnos del cliente sin filtrar por fecha. Cont\u00e1 UNO POR CADA FILA que tenga Estado = Pendiente y que NO est\u00e9 vencida (fecha+horario anterior a ahora). NUNCA agrupes por auto: misma marca con dos ID_Turno distintos = DOS turnos. NUNCA filtres por \"solo hoy y ma\u00f1ana\" ni fechas arbitrarias \u2014 cont\u00e1 todas las filas Pendiente. Si tiene 3 o m\u00e1s Pendiente no vencidos: RECHAZ\u00c1, NO sigas agendando. No importa si el cliente insiste, no importa c\u00f3mo lo justifique.\n\n1. Verific\u00e1 disponibilidad (PASO OBLIGATORIO). Antes de pedir cualquier dato personal, us\u00e1 \"consultar_disponibilidad\" con fecha (d/MM/yyyy) y horario (H:mm:ss) exactos.\nSi devuelve \"OCUPADO\" \u2192 NO sigas agendando. Decile al cliente que est\u00e1 ocupado y preguntale qu\u00e9 otro horario quiere probar. NO le sugieras alternativas.\nSi devuelve \"LIBRE\" \u2192 segu\u00ed al paso 2.\n\n2. Identific\u00e1 al cliente. Pedile el DNI y buscalo con \"Obtener El ID por DNI\".\n\nSi existe: guard\u00e1 el ID_Cliente en memoria y segu\u00ed.\nSi NO existe: avisale amablemente que lo vas a registrar, pedile los datos necesarios (nombre, direcci\u00f3n), calcul\u00e1 el pr\u00f3ximo ID_Cliente (ver regla de IDs arriba), us\u00e1 \"Registrar Cliente1\" con ese ID, y despu\u00e9s volv\u00e9 a obtener el ID_Cliente con \"Obtener El ID por DNI\" para continuar.\n\n3. Reun\u00ed los datos del turno, de a uno o de a pocos para no abrumar:\n\nAuto (marca y modelo)\nMotivo exacto de la visita\nFecha deseada \u2192 convertila a d/MM/yyyy\nHorario deseado \u2192 H:mm:ss\n\n4. Valid\u00e1 antes de agendar:\n\nQue tengas ID_Cliente, Auto, Motivo, Fecha y Horario. Si falta algo, pedilo antes de seguir.\nQue la fecha no sea domingo ni una fecha/hora pasada.\nQue el horario est\u00e9 dentro del horario de atenci\u00f3n.\n\n5. Confirm\u00e1 con el cliente todos los datos antes de agendar: \"Te agendo un turno para tu [auto] el [fecha] a las [hora] por [motivo], \u00bfconfirm\u00e1s?\" y esper\u00e1 su OK expl\u00edcito.\n6. Calcul\u00e1 el ID_Turno siguiendo la regla de IDs (paso \"Obtener Turnos\" + m\u00e1ximo + 1).\n7. Agend\u00e1. Con la confirmaci\u00f3n, us\u00e1 \"Agendar_Turno\" pasando ID_Cliente, ID_Turno (el que calculaste), Auto, Motivo, Fecha del Turno, Horario y Estado=\"Pendiente\".\n\nSi la herramienta devuelve error: ped\u00ed disculpas, explicale en lenguaje simple que no se pudo agendar (sin jerga t\u00e9cnica ni datos internos) y preguntale si quiere intentar con otro horario.\nSi devuelve \u00e9xito: confirmale el turno incluyendo auto, fecha, hora, motivo y la direcci\u00f3n del taller. Ejemplo: \"Turno confirmado para [auto] el [fecha] a las [hora] por [motivo]. Te esperamos en [DIRECCI\u00d3N DEL TALLER].\" NUNCA uses la direcci\u00f3n del cliente como direcci\u00f3n del taller.\n\nFLUJO PARA MODIFICAR / REPROGRAMAR UN TURNO\n\n1. Identific\u00e1 al cliente con \"Obtener El ID por DNI\".\n2. Identific\u00e1 el turno a modificar. Us\u00e1 \"Obtener Turno Por id\" para ubicar el turno y obtener su ID_Turno y sus datos actuales. Si hay dudas de cu\u00e1l es, preguntale al cliente (por fecha y hora).\n3. Pregunt\u00e1 qu\u00e9 quer\u00e9s cambiar (nueva fecha, nuevo horario, auto o motivo). Convert\u00ed las fechas relativas a d/MM/yyyy.\n4. Valid\u00e1 el nuevo horario: que no sea domingo, ni una fecha/hora pasada, y que est\u00e9 dentro del horario de atenci\u00f3n.\n5. Verific\u00e1 disponibilidad del nuevo horario con \"consultar_disponibilidad\" (fecha + horario). Si devuelve \"OCUPADO\" \u2192 ocupado. Si devuelve \"LIBRE\" \u2192 libre.\n\n6. Confirm\u00e1 con el cliente el cambio: \"Te reprogramo el turno para el [fecha] a las [hora], \u00bfconfirm\u00e1s?\" y esper\u00e1 su OK.\n7. Modific\u00e1. Us\u00e1 \"Modificar_turno\" pasando el ID_Turno del turno (NUNCA lo cambies, es el mismo que ya ten\u00eda) y los campos actualizados (manten\u00e9 sin cambios los que no se modifican).\n\nSi devuelve error: ped\u00ed disculpas y preguntale al cliente qu\u00e9 otra opci\u00f3n quiere probar.\nSi devuelve \u00e9xito: confirmale el turno actualizado con un mensaje claro.\n\nFLUJO PARA CANCELAR UN TURNO\n\n1. Identific\u00e1 al cliente con \"Obtener El ID por DNI\".\n2. Confirm\u00e1 qu\u00e9 turno quiere cancelar (fecha y hora). Si hace falta, us\u00e1 \"Obtener Turno Por id\" para verificar.\n3. Confirm\u00e1 con el cliente antes de cancelar.\n4. Us\u00e1 \"Herramienta_Cancelar_Turno1\" y confirmale la cancelaci\u00f3n.\n\nCONSULTA DE REPUESTOS\n\nSi el cliente pregunta por disponibilidad o precio de un repuesto, us\u00e1 \"Consultar_Stock_Publico1\".\nMostrale solo informaci\u00f3n p\u00fablica y \u00fatil (producto y precio de venta). Nunca reveles el c\u00f3digo del repuesto, ni precio de costo, stock interno u otros datos sensibles.\n\nREGLAS GENERALES DE COMPORTAMIENTO\n\nNUNCA inventes ni uses valores de ejemplo/placeholder para IDs (ID_Cliente, ID_Turno) ni para ning\u00fan campo. Los IDs SIEMPRE se calculan con la regla de \"m\u00e1ximo existente + 1\" descripta arriba, usando \"Obtener Clientes\" y \"Obtener Turnos\". Nunca los dejes vac\u00edos ni le pidas al sistema que los invente.\nUn tema por vez: no pidas cinco datos en un solo mensaje.\nSi el cliente escribe algo ambiguo, repregunt\u00e1 antes de actuar.\nNunca avances a agendar ni a modificar sin la confirmaci\u00f3n expl\u00edcita del cliente.\nAntes de agendar o reprogramar, SIEMPRE verific\u00e1 disponibilidad con \"consultar_disponibilidad\".\nSi el pedido est\u00e1 fuera de tu alcance (presupuestos detallados, diagn\u00f3sticos t\u00e9cnicos complejos, reclamos), ofrec\u00e9 derivarlo al personal del taller.\nS\u00e9 c\u00e1lido pero conciso: respuestas cortas, con emojis puntuales si suman claridad (\ud83d\udcc5 \ud83d\udd27 \u2705), sin abusar.\nEnfocate en conversar bien y en usar las herramientas en el orden correcto."
        }
      },
      "id": "6335ccda-2f6a-45fd-8c66-4b44f6ef0fd7",
      "name": "Agente Clientes",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2384,
        6256
      ]
    },
    {
      "parameters": {
        "description": "Verifica si un turno est\u00e1 disponible en una fecha y horario espec\u00edficos. Pas\u00e1 'fecha' (d/MM/yyyy) y 'horario' (H:mm:ss). Devuelve 'LIBRE' (disponible) o 'OCUPADO' (ocupado).",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "SubWorkflow_Consultar_Disponibilidad"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $fromAI('fecha', 'Fecha en formato d/MM/yyyy, ej: 7/07/2026', 'string') }}",
            "horario": "={{ $fromAI('horario', 'Horario en formato H:mm:ss, ej: 10:00:00', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario",
              "displayName": "horario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "272a980e-479d-40bb-9cd2-221560fe3cd9",
      "name": "Consultar Disponibilidad Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3088,
        6480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer User ID y validar contra lista de administradores\nconst input = $input.first().json;\nconst adminIds = [13202518240];\nlet userId, chatId, text, isCallback, queryId, messageId;\n\nif (input.callback_query) {\n  isCallback = true;\n  userId = input.callback_query.from.id;\n  chatId = input.callback_query.message.chat.id;\n  text = input.callback_query.data;\n  queryId = input.callback_query.id;\n  messageId = input.callback_query.message.message_id;\n} else if (input.message) {\n  isCallback = false;\n  userId = input.message.from.id;\n  chatId = input.message.chat.id;\n  text = input.message.text;\n}\n\nconst admin = adminIds.includes(userId);\n\nreturn [\n  {\n    \"json\": {\n      isAdmin: admin,\n      isCallback: isCallback,\n      chatId: chatId,\n      text: text,\n      userId: userId,\n      queryId: queryId,\n      messageId: messageId\n    }\n  }\n];"
      },
      "id": "6622a200-e5f1-441b-a865-0901ff80aa46",
      "name": "Validar Admin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        5824
      ]
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "eba61fbd-2e89-4f42-bd92-27f3bd51f9ee",
      "name": "Typing Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        5232
      ],
      "webhookId": "b38eda92-5597-46f3-b1cc-8ebadfda263b",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "9a327509-a190-4334-aaf0-7ef4755e4ff3",
      "name": "Typing Cliente",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        6256
      ],
      "webhookId": "6286828a-dfd2-40d7-9062-7b6a666d167c",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "70eba117-0ef5-4c66-bb07-04e8778430c9",
      "name": "Typing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        5968
      ],
      "webhookId": "f9dde538-23a5-4dd1-98fb-5cf5520f226e",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parts = $json.text.split(':');\nconst action = parts[0];\nconst chatId = $json.chatId;\nconst queryId = $json.queryId;\nconst messageId = $json.messageId;\n\nif (action === 'paginate') {\n  const type = parts[1];\n  const page = parseInt(parts[2]);\n  return [{json: {queryId, chatId, messageId, action: 'paginate', type, page}}];\n}\n\nif (action === 'agent_cmd') {\n  const targetType = parts[1];\n  const typeMap = {stock: 'Stock', clientes: 'Clientes', turnos: 'Turnos'};\n  const type = typeMap[targetType];\n  if (type) {\n    return [{json: {queryId, chatId, messageId, action: 'paginate', type, page: 1}}];\n  }\n  return [{json: {queryId, chatId, messageId, action: 'noop'}}];\n}\n\nif (action === 'noop') {\n  return [{json: {queryId, chatId, messageId, action: 'noop'}}];\n}\n\nif (action === 'confirm') {\n  const respuesta = parts[1];\n  return [{json: {queryId, chatId, messageId, action: 'confirm', respuesta: respuesta}}];\n}\n\nreturn [{json: {queryId, chatId, messageId, action: 'unknown'}}];"
      },
      "id": "e78481ea-7fb3-463d-bb87-6873dd716930",
      "name": "Manejar Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        5776
      ]
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.queryId }}",
        "additionalFields": {}
      },
      "id": "aff03683-0a5e-4efb-bc60-e8ac47d8b19c",
      "name": "Respuesta Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        5776
      ],
      "webhookId": "d5ceef3f-5b14-4e75-9a20-7086e1284976",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.chatId }}",
        "messageId": "={{ $json.messageId }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $json.pageText }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "<- Anterior",
                    "additionalFields": {
                      "callback_data": "={{ $json.prevBtnData }}"
                    }
                  },
                  {
                    "text": "Siguiente ->",
                    "additionalFields": {
                      "callback_data": "={{ $json.nextBtnData }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "df618bfc-ffb2-4f09-a283-008094286519",
      "name": "Editar Mensaje CB",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4064,
        5680
      ],
      "webhookId": "e56fc07d-4069-4e77-973c-ebe230fdb798",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Manejar Callback').item.json.type }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "Stock",
                    "id": "8fe2ebee-ad5c-44ee-a53d-e4bf9c172ba3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stock"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Manejar Callback').item.json.type }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "Clientes",
                    "id": "c81e4e4f-cd0c-432f-b914-c4f1494f903b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Clientes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Manejar Callback').item.json.type }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "Turnos",
                    "id": "e65ab759-b387-45de-a0c3-cb8d879704a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Turnos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "id": "0e061fa5-f4c0-4403-b152-2407dd016a17",
      "name": "PagType",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2448,
        5520
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "stock"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "ec084e22-86f9-43ae-ba78-fdf15b435a04",
      "name": "Get Stock Pag",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3296,
        5328
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "8b6758ce-b856-4b49-9d28-90505c75d9d5",
      "name": "Get Clientes Pag",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3296,
        5520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Taller mec\u00e1nico"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "turnos"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "93196ed6-efaa-435d-b12a-d76596192232",
      "name": "Get Turnos Pag",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3296,
        5712
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mcItems = $items('Manejar Callback');\nconst mc = mcItems[0].json;\nconst queryId = mc.queryId;\nconst chatId = mc.chatId;\nconst messageId = mc.messageId;\nconst page = mc.page || 1;\nconst type = mc.type || '';\n\n// GS devuelve UN ITEM POR FILA, no un array en un solo item\nconst allItems = $input.all();\nlet dataArray = [];\n\nif (allItems.length > 0) {\n  const first = allItems[0].json;\n  if (Array.isArray(first)) {\n    dataArray = first;\n  } else if (first.results && Array.isArray(first.results)) {\n    dataArray = first.results;\n  } else if (first.data && Array.isArray(first.data)) {\n    dataArray = first.data;\n  } else {\n    // Normal: cada item del input es una fila\n    dataArray = allItems.map(i => i.json);\n  }\n}\n\nconst pageSize = 4;\nconst totalPages = Math.ceil(dataArray.length / pageSize);\nconst start = (page - 1) * pageSize;\nconst pageItems = dataArray.slice(start, start + pageSize);\n\nvar title = '';\nif (type === 'Clientes') title = 'Clientes';\nelse if (type === 'Stock') title = 'Stock';\nelse if (type === 'Turnos') title = 'Turnos';\nvar text = title + '\\n';\ntext += 'P\u00e1gina ' + page + ' de ' + totalPages + '\\n\\n';\nfor (let i = 0; i < pageItems.length; i++) {\n  const item = pageItems[i];\n  const num = start + i + 1;\n  if (type === 'Clientes') {\n    text += num + '. ' + (item['Nombre y Apellido'] || '-') + '\\n';\n    text += 'DNI: ' + (item['DNI'] != null ? item['DNI'] : '-') + '\\n';\n    text += 'Tel: ' + (item['N\u00famero De Tel\u00e9fono'] != null ? item['N\u00famero De Tel\u00e9fono'] : '-') + '\\n';\n    text += 'Direcci\u00f3n: ' + (item['Direcci\u00f3n'] || '-') + '\\n';\n  } else if (type === 'Stock') {\n    text += num + '. ' + (item['Repuesto'] || '-') + '\\n';\n    text += 'C\u00f3digo: ' + (item['C\u00f3digo'] || '-') + '\\n';\n    text += 'Precio: \\u0024' + (item['Precio Unitario'] != null ? item['Precio Unitario'] : '-') + '\\n';\n    text += 'Stock: ' + (item['Stock Actual'] != null ? item['Stock Actual'] : '-') + '\\n';\n  } else if (type === 'Turnos') {\n    text += num + '. ' + (item['Auto'] || item['Nombre y Apellido'] || '-') + '\\n';\n    text += 'Motivo: ' + (item['Motivo'] || '-') + '\\n';\n    text += 'Fecha: ' + (item['Fecha del Turno'] || '-') + '\\n';\n    text += 'Horario: ' + (item['Horario'] || '-') + '\\n';\n    text += 'Estado: ' + (item['Estado'] || '-') + '\\n';\n  } else {\n    text += num + '. ';\n    const fields = Object.keys(item).filter(k => k !== 'row_number');\n    for (let k = 0; k < fields.length; k++) {\n      text += (item[fields[k]] || '-') + '\\n';\n    }\n  }\n  text += '\\n';\n}\ntext += '\\u00bfQuer\\u00e9s avanzar a la siguiente p\\u00e1gina o volver a la anterior?';\n\nconst prevBtnData = (totalPages > 1 && page > 1) ? 'paginate:' + type + ':' + (page - 1) : 'noop';\nconst nextBtnData = (totalPages > 1 && page < totalPages) ? 'paginate:' + type + ':' + (page + 1) : 'noop';\n\nconst r = {pageText: text, chatId, messageId, queryId, prevBtnData, nextBtnData, currentPage: page, totalPages};\nreturn [{json: r}];"
      },
      "id": "fb855ae1-58f8-4b12-9282-fd9227d6bc13",
      "name": "Build Pagination CB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        5616
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "noop",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "e93187fe-c672-4eac-86e1-2cdd43dbf82d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "si"
            }
          ]
        },
        "options": {}
      },
      "id": "230ea9b1-e417-406b-8174-4fe0a58fc33a",
      "name": "Vuelve al agente",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3520,
        6016
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1808,
        6480
      ],
      "id": "9debe384-8fea-4ad3-b1f9-33a766713c8e",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "name": "Mistral"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3744,
        5504
      ],
      "id": "6e7195a0-5490-418e-8bcd-c2af1754f357",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "name": "Mistral"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        912,
        5824
      ],
      "id": "ce4cecae-9f5b-4590-a612-f7c7f32b32ac",
      "name": "Telegram Trigger",
      "webhookId": "dbfd4923-ecde-4b29-9fb5-9d42b8ed1aab",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const action = $json.action;\nconst respuesta = $json.respuesta;\nconst chatId = $json.chatId;\n\nif (action === 'confirm') {\n  if (respuesta === 'si') {\n    return [{\n      json: {\n        action: action,\n        text: \"CONFIRMADO: el usuario acept\u00f3 la operaci\u00f3n. Ejecut\u00e1 la herramienta que hab\u00edas propuesto. No preguntes de nuevo, el usuario ya confirm\u00f3. No respondas paginado, solo da una respueta textual.\",\n        chatId: chatId\n      }\n    }];\n  } else {\n    return [{\n      json: {\n        action: action,\n        text: \"CANCELADO: el usuario no acept\u00f3 la operaci\u00f3n. Cancela la operaci\u00f3n. No preguntes de nuevo, el usuario ya cancel\u00f3.\",\n        chatId: chatId\n      }\n    }];\n  }\n}\n\nreturn [{json: {action: action}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        6016
      ],
      "id": "c449c22f-1dd3-476c-873f-2f1e868161a4",
      "name": "Manejar NoOp"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cond-start",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "/start"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bienvenida"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "Agente"
            }
          ]
        },
        "options": {}
      },
      "id": "72763d8f-b104-445f-9df9-b684e743f151",
      "name": "Admin Start Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3520,
        5056
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "="
        }
      },
      "id": "c1947c32-0564-4ceb-a894-f6dc3dc4b910",
      "name": "Responder Admin1",
      "position": [
        5040,
        5680
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "4aa146de-0978-4d79-ae49-3301fd213c9e",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var chatId = 0;\ntry { chatId = $items('Validar Admin')[0].json.chatId; } catch(e) {}\n\nvar output = $input.first().json.output || '';\n\ntry { output = output.replace(/_/g, '\\\\_'); } catch(e) {}\n\n// Detectar marcador CONFIRM:descripcion\nvar confirmMatch = output.match(/^!!CONFIRM:(.+)/);\nif (confirmMatch) {\n  var confirmDesc = confirmMatch[1].trim();\n  return [{\n    json: {\n      output: confirmDesc,\n      chatId: chatId,\n      isPaginated: false,\n      isConfirm: true,\n      confirmText: confirmDesc\n    }\n  }];\n}\n\n// buscar marcador PAGINATED:Tipo:pag/total\nvar match = output.match(/^PAGINATED:(\\w+):(\\d+)\\/(\\d+)/m);\nif (match) {\n  var tipo = match[1];\n  var currentPage = parseInt(match[2]);\n  var totalPages = parseInt(match[3]);\n  output = output.replace(/^PAGINATED:\\w+:\\d+\\/\\d+\\n*/m, '');\n  var prevBtnData = currentPage > 1 ? 'paginate:' + tipo + ':' + (currentPage - 1) : 'noop';\n  var nextBtnData = currentPage < totalPages ? 'paginate:' + tipo + ':' + (currentPage + 1) : 'noop';\n  return [{json: {output: output, chatId: chatId, isPaginated: true, prevBtnData: prevBtnData, nextBtnData: nextBtnData, currentPage: currentPage, totalPages: totalPages}}];\n} else {\n  return [{json: {output: output, chatId: chatId, isPaginated: false}}];\n}"
      },
      "id": "5071758a-cc26-403d-97f3-e5abdb9ce7e5",
      "name": "Procesar Output Admin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        5392
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.isPaginated }}",
                    "operator": {
                      "operation": "true",
                      "singleValue": true,
                      "type": "boolean"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "Paginado"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.isConfirm }}",
                    "operator": {
                      "operation": "true",
                      "singleValue": true,
                      "type": "boolean"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "Confirmacion"
            },
            {
              "conditions": {
                "conditions": [],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "No paginado"
            }
          ]
        },
        "options": {}
      },
      "id": "2642c792-f107-4056-9bcd-f80bf3d26912",
      "name": "Paginacion Admin",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4816,
        5376
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "<- Anterior",
                    "additionalFields": {
                      "callback_data": "={{ $json.prevBtnData }}"
                    }
                  },
                  {
                    "text": "Siguiente ->",
                    "additionalFields": {
                      "callback_data": "={{ $json.nextBtnData }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "id": "a3ae9acc-d008-4486-a3b6-e252fbb8c336",
      "name": "Responder Paginado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5040,
        5296
      ],
      "webhookId": "40e6cf65-e215-4bd1-882c-45660f58eef9",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.confirmText }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Si, confirmar",
                    "additionalFields": {
                      "callback_data": "confirm:si"
                    }
                  },
                  {
                    "text": "No, cancelar",
                    "additionalFields": {
                      "callback_data": "confirm:no"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "id": "0da376e4-1f01-4979-99ce-2c37d1827fdd",
      "name": "Admin Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5040,
        5488
      ],
      "webhookId": "b8b7073e-ba4c-4b57-9598-e0032886061a",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "\ud83d\udc4b Bienvenido al Panel de Administracion\n\nElegi una opcion:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ver Stock",
                    "additionalFields": {
                      "callback_data": "agent_cmd:stock"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ver Clientes",
                    "additionalFields": {
                      "callback_data": "agent_cmd:clientes"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ver Turnos",
                    "additionalFields": {
                      "callback_data": "agent_cmd:turnos"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ca5800e0-2ea2-44f5-8892-d49f366ab668",
      "name": "Admin Welcome Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4064,
        5008
      ],
      "webhookId": "d145d84a-136b-43ba-8205-9baab45d038a",
      "credentials": {
        "telegramApi": {
          "name": "electroencefalograma_bot"
        }
      }
    }
  ],
  "connections": {
    "Obtener Turno Por id": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener El ID por DNI": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Stock_Publico1": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta_Verificar_DNI1": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Cliente1": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Repuestos": {
      "ai_tool": [
        [
          {
            "node": "Agente Admin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Clientes": {
      "ai_tool": [
        [
          {
            "node": "Agente Admin",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Turnos": {
      "ai_tool": [
        [
          {
            "node": "Agente Admin",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Stock1": {
      "ai_tool": [
        [
          {
            "node": "Agente Admin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente Admin",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta_Cancelar_Turno1": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar_Turno": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificar_turno": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad Tool": {
      "ai_tool": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validar Admin": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Manejar Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Typing Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Admin Start Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Typing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Typing Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Admin": {
      "main": [
        []
      ]
    },
    "Typing Cliente": {
      "main": [
        [
          {
            "node": "Agente Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing": {
      "main": [
        [
          {
            "node": "Mensaje Bienvenida1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manejar Callback": {
      "main": [
        [
          {
            "node": "Respuesta Callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Admin": {
      "main": [
        [
          {
            "node": "Procesar Output Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Clientes": {
      "main": [
        [
          {
            "node": "Responder Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagType": {
      "main": [
        [
          {
            "node": "Get Stock Pag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Clientes Pag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Turnos Pag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stock Pag": {
      "main": [
        [
          {
            "node": "Build Pagination CB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clientes Pag": {
      "main": [
        [
          {
            "node": "Build Pagination CB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Turnos Pag": {
      "main": [
        [
          {
            "node": "Build Pagination CB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pagination CB": {
      "main": [
        [
          {
            "node": "Editar Mensaje CB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vuelve al agente": {
      "main": [
        [
          {
            "node": "Agente Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Clientes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Admin",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Validar Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manejar NoOp": {
      "main": [
        [
          {
            "node": "Vuelve al agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Start Switch": {
      "main": [
        [
          {
            "node": "Admin Welcome Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Output Admin": {
      "main": [
        [
          {
            "node": "Paginacion Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paginacion Admin": {
      "main": [
        [
          {
            "node": "Responder Paginado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Admin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "versionId": "d20291a9-ccfd-4270-861d-371ebde3692d",
  "activeVersionId": "d20291a9-ccfd-4270-861d-371ebde3692d",
  "versionCounter": 696,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-01T19:47:24.813Z",
      "createdAt": "2026-07-01T19:47:24.813Z",
      "role": "workflow:owner",
      "workflowId": "Swpa4f7diJD0oTmH",
      "projectId": "TR05BAcU2qCI52zd",
      "project": {
        "updatedAt": "2026-03-30T19:15:19.500Z",
        "createdAt": "2026-03-30T19:06:07.712Z",
        "id": "TR05BAcU2qCI52zd",
        "name": "Manuel Palmero <manueligna06@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "40a876fc-fbd8-4e9f-b863-c1ecfdf4d934"
      }
    }
  ],
  "tags": []
}